@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* Main background for the entire page */
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg"), /* Base background */
                    url('https://cdn-icons-png.flaticon.com/512/616/616408.png'), /* Example: Balloon */
                  url('https://cdn-icons-png.flaticon.com/512/3671/3671043.png'), /* Example: Open Book */
                  url('https://cdn-icons-png.flaticon.com/512/3061/3061298.png'), /* Example: Beaker */
                  url('https://cdn-icons-png.flaticon.com/512/285/285324.png'), /* Example: Pencil */
                  url('https://cdn-icons-png.flaticon.com/512/2555/2555436.png'), /* Example: Globe */
                  url('https://cdn-icons-png.flaticon.com/512/5707/5707262.png'), /* Example: Microscope */
                  url('https://cdn-icons-png.flaticon.com/512/3004/3004603.png'); /* Example: Calculator */
  background-position: center center, /* Position for base background */
                       10% 20%,      /* Balloon */
                       85% 15%,      /* Open Book */
                       5% 80%,       /* Beaker */
                       90% 60%,      /* Pencil */
                       20% 50%,      /* Globe */
                       75% 85%,      /* Microscope */
                       15% 5%;       /* Calculator */
  background-size: cover,            /* Size for base background */
                   80px,             /* Balloon size */
                   100px,            /* Open Book size */
                   70px,             /* Beaker size */
                   90px,             /* Pencil size */
                   110px,            /* Globe size */
                   80px,             /* Microscope size */
                   60px;             /* Calculator size */
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

/* This rule is for the main container box.
  It's wide to fit both forms side-by-side.
*/
.contact-us {
  background: #f8f4e5;
  padding: 50px; /* Simplified padding */
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0, 0, 0, 1);
  z-index: 10;
  position: relative;
  width: 80vw; /* Make the box much wider */
  max-width: 900px; /* Set a max width */
  min-height: auto; 
}

/* These rules create the side-by-side layout 
  inside the .contact-us box.
*/
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distributes space */
  align-items: flex-start;
  width: 100%;
}

.form-content {
  flex: 1; /* Each form takes equal space */
  display: flex;
  flex-direction: column;
}

.login-form {
  padding-right: 40px;
}

.signup-form {
  padding-left: 40px;
}

.vertical-separator {
  width: 2px;
  background-color: #2A293E; /* Dark color */
  align-self: stretch; /* Makes it full height */
}

.title {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24pt;
  color: #2A293E;
  margin-bottom: 30px;
}

/* These are your original styles for 
  all the form inputs, buttons, etc.
*/

/* Updated input and select styling */
input, select {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: 'Fjalla One';
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 200px; /* Reduced min-width to fit side-by-side */
  padding-left: 5px;
  outline: none;
  color: black;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-bottom: 5px solid #ffa580;
}

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1);
}

button:hover {
  background: black;
  color: white;
  border: 1px solid rgba(0,0,0,1);
}

::selection {
  background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Fixes height and padding for the dropdown */
select {
  height: 28pt;
  padding: 0 5px;
}

/* Styles the "Select your grade" placeholder option */
select:required:invalid {
  color: #555;
}

/* Ensures dropdown options are the correct color */
option {
  color: black;
  background: #f8f4e5;
}
/* This is the title at the top of the page */
.website-title {
  text-align: center;
  color: rgba(107, 37, 37, 0.986);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 36pt; /* You can adjust this size */
  margin-bottom: 20px; /* Space between title and box */
  width: 100%;

}

